.sobre-mim-section {
    padding: 1.5rem;
    text-align: center;
    background-color: #000000;
    margin: 50% auto;
    max-width: 90%;
}

.sobre-mim-titulo h1 {
    font-size: 2.5rem;
    margin: 10px 0px 300px;
    background: linear-gradient(90deg, #34db3c, #3498db, #9b59b6, #34db3c);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: fluidText 5s infinite linear;
}

.paragrafo-sobre-mim p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    text-align: justify;
    margin-bottom: 2rem;

}

.apresentacao-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding-top: 2.0rem;
}

.link-botao {
    background-color: #28a745;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    width: 80%; /* Deixa os botões mais largos no mobile */
    text-align: center;
}

.link-botao:hover {
    background-color: #218838;
}


.rodape {
    background: linear-gradient(90deg, #ffffff, #34db3c9d, #9b59b6, #000000);
    background-size: 300% 100%;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    animation: fluidBackground 8s infinite linear;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fluidBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.rodape:hover {
    animation: fluidBackground 4s infinite linear;
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.3);
}
/* Responsividade para telas até 360px */
@media (max-width: 360px) {
    .sobre-mim-titulo h1 {
        font-size: 2rem;
    }

    .paragrafo-sobre-mim p {
        font-size: 0.9rem;
    }

    .link-botao {
        font-size: 1rem;
        width: 100%;
    }

    .rodape {
        font-size: 0.9rem;
        padding: 0.8rem 0;
    }
}


    

