.sobre-mim-section {
    padding: 1.5rem;
    text-align: center;
    background-color: #000000;
    margin: 20% auto;
    max-width: 90%;
    
}

.sobre-mim-titulo h1 {
    font-size: 2.5rem;
    margin: 10% auto;
    background: linear-gradient(90deg, #34db3c, #3498db, #9b59b6, #34db3c);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: fluidText 5s infinite linear;
}

.paragrafo-sobre-mim p {
    font-size: 1rem;
    font-weight: 150px;
    line-height: 1.6;
    color: white;
    text-align: center;
    font-family: "Krona One", serif;
    

}

.apresentacao-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 60px;
    flex-wrap: wrap;
}

.link-botao {
    color: #fff;
    font-size: 2.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.link-botao:hover {
    transform: scale(1.2);
    color: #34db3c;
}


.rodape {
    background: linear-gradient(90deg, #ffffff, #34db3c9d, #9b59b6, #000000);
    background-size: 300% 100%;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    animation: fluidBackground 8s infinite linear;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fluidBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.rodape:hover {
    animation: fluidBackground 4s infinite linear;
    box-shadow: 0 -6px 15px rgba(0, 0, 0, 0.3);
}



/* Responsividade para telas até 360px */
@media (max-width: 360px) {
    .sobre-mim-titulo h1 {
        font-size: 2rem;
        margin: 50px 2px 40px;
    }

    .paragrafo-sobre-mim p {
        font-size: 0.9rem;
    }

    .apresentacao-links {
        gap: 1rem;
    }

    .link-botao {
        font-size: 1rem;
        width: 100%;
    }

    .rodape {
        font-size: 0.9rem;
        padding: 0.8rem 0;
    }
}
/* Responsividade para telas até 769px (Tablets) */
@media (max-width: 769px) {
    .sobre-mim-titulo h1 {
        font-size: 2.2rem;

        margin: 30px 2px 80px;
    }

    .paragrafo-sobre-mim p {
        font-size: 1.1rem;
    }
    .apresentacao-links {
        gap: 1.2rem;
    }

    .link-botao {
        font-size: 1.2rem;
        width: 90%;
    }

    .rodape {
        font-size: 1rem;
        padding: 1rem 0;
    }
}
@media (max-width: 1025px) {
    .apresentacao-links {
        gap: 1.5rem;
    }

    .link-botao {
        font-size: 2.5rem;
        
    }
}

    

